/* 页面从左侧挤入 */
.slide-left-enter-active,
.slide-left-leave-active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 1000ms ease;
}
.slide-left-enter-from {
  left: -100%;
  opacity: 0;
  transform: scale(1);
}
.slide-left-leave-to {
  left: 100%;
  transform: scale(1);
}
